@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
	font-size: 16px;
	font-family: "Nanum Gothic", sans-serif;
}

.menu-title, h4, h5, h6 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

a:link {
	text-decoration: none;
	cursor: pointer;
}

table {
	width: 100%;
	text-align: center;
	margin: auto;
	border-collapse: collapse;
	line-height: 30px;
	border-bottom: #E6E6E6 1px solid;
}

th, tr, td {
	margin: 0 auto;
	text-align:center;
}

th {
	width: 130px;
	background: #E6E6E6;
	color: #444444;
}

tr {
	color: #444;
}

td {
	width: fit-content;
	border: 1px;
	solid: #efefef;
	font-size: 15px;
}

.state-1, .state-2 {
	width: 90%;
	margin: 5px;
	font-size: 16px;
	font-weight: bold;
	flex-direction: row;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 10px #e6e6e6;
}

.state-1 {
	padding: 13px;
	border-radius: 30px;
	background: #5645ED;
	color: white;
}

.state-2 {
	padding: 80px;
	border: 1px solid #5645ED;
	border-radius: 20px;
	background: white;
	color: #5645ED;
}

.btn-purple-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: #3529b1;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

.btn-light-purple-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: #5645ED;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

.btn-save-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: #424242;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

.btn-cancel-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: white;
	border: solid 1px #424242;
	text-align: center;
	color: #424242;
	font-size: 15px;
	text-decoration: none;
}

.btn-save-square:hover,
.btn-purple-square:hover,
.btn-light-purple-square:hover{
	color: white
}

.excel {
	display: inline-block;
	width: 110px;
	height: 36px;
	background: url("../images/btn_excel.png") no-repeat;
}

ul.img-circle li {
	padding-left: 20px;
	background : url('../images/bul_circle.png') left center no-repeat;
}

.navbar {
	background-color: white;
	box-shadow: 0px 0px 20px #d3d2d5;
	text-align: center;
}

.nav-item a {
	color: black !important;
}

.nav-item a:hover {
	color: #5645ed !important;
}

.dropdown:hover>.dropdown-menu,
.dropdown:active>.dropdown-menu {
	display: block;
	margin-top: -2px;
}

.dropdown>.dropdown-toggle:active {
	pointer-events: auto;
}

.main-item {
	font-size: 18px;
}

.sub-item {
	font-size: 15px;
}

.search {
	display: flex;
	width: 400px;
	border: 1px solid #d3d2d5;
	background-color: #fff;
	padding: 3px;
	border-radius: 4px;
}

.search-input {
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color: transparent;
	line-height: 20px;
	transition: width 0.4s linear
}

.search .search-input {
	padding: 0 10px;
	width: 100%;
	caret-color: gray;
	font-size: 14px;
	font-weight: 300;
	color: black;
	transition: width 0.4s linear
}

.search-icon {
	height: 30px;
	width: 40px;
	float: right;
	border: 0;
	outline: 0;
	background : url('../images/btn_search.png') left center no-repeat;
	text-decoration: none;
	cursor: pointer;
}

.table-box {
	padding: 30px;
	margin: 15px;
	min-height: 340px;
	background-color: white;
	box-shadow: 0px 0px 20px #e6e6e6;
}

.search-icon:hover {
	color: #fff !important
}

.col-form-label {
	font-size: 18px;
	min-width: 130px;
}

