@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
}

.menu-title, h4, h5, h6 {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 300;
}

ul {
	list-style: none;
}

a:link {
	text-decoration: none;
	cursor: pointer;
}

input {
	font-weight: 300;
}

input[type=date] {
	width: fit-content;
	border: none;
	text-align: center;
	outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	padding: 0;
	margin-left: 3px;
}

.zip-code {
	background: #dce6ee;
	width: 150px !important;
	cursor: pointer;
	outline: none;
}

select, option {
	font-weight: 300;
}

.state-1 {
	width: 90%;
	margin: 5px;
	font-size: 16px;
	font-weight: bolder;
	flex-direction: row;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 10px #e6e6e6;
}

.state-1 {
	padding: 13px;
	border-radius: 30px;
	background: #5645ED;
	color: white;
}

.state-2 {
	padding: 80px;
	border: 1px solid #5645ED;
	border-radius: 20px;
	background: white;
	color: #5645ED;
}

.btn-purple-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: #3529b1;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

.btn-light-purple-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: #5645ED;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

.btn-save-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: #424242;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

.btn-cancel-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: white;
	box-shadow: 0 0 0 1px #424242 inset;
	text-align: center;
	color: #424242;
	font-size: 15px;
	text-decoration: none;
}

.btn-save-square:hover,
.btn-purple-square:hover,
.btn-light-purple-square:hover,
.btn-delete-square:hover {
	color: white
}

.excel {
	display: inline-block;
	cursor: pointer;
	width: 110px;
	height: 36px;
	background: url("../images/btn_excel.png") no-repeat;
}


ul.img-circle li {
	padding-left: 20px;
	background: url('../images/bul_circle.png') left center no-repeat;
}

.navbar {
	background-color: white;
	box-shadow: 0px 0px 20px #d3d2d5;
	text-align: center;
	font-weight: 300;
}

.nav-item a {
	color: black !important;
	font-weight: 300;
}

.nav-item a:hover {
	color: #5645ed !important;
}

.dropdown:hover > .dropdown-menu,
.dropdown:active > .dropdown-menu {
	display: block;
	margin-top: -2px;
}

.dropdown > .dropdown-toggle:active {
	pointer-events: auto;
}

.main-item {
	font-size: 18px;
}

.sub-item {
	font-size: 15px;
}

.info-input {
	border: none;
	text-align: center;
	width: 100%;
}

.info-input-num {
	border: none;
	text-align: right;
	font-weight: bolder;
	width: 30%;
}

.search {
	display: flex;
	width: 400px;
	border: 1px solid #d3d2d5;
	background-color: #fff;
	padding: 3px;
	border-radius: 4px;
}

.search-input {
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color: transparent;
	line-height: 20px;
	transition: width 0.4s linear
}

.search .search-input {
	padding: 0 10px;
	width: 100%;
	caret-color: gray;
	font-size: 14px;
	font-weight: 300;
	color: black;
	transition: width 0.4s linear
}

.search-icon {
	height: 30px;
	width: 40px;
	float: right;
	background: url('../images/btn_search.png') left center no-repeat;
	text-decoration: none;
	cursor: pointer;
}

.table-box {
	padding: 30px;
	margin: 15px;
	min-height: 340px;
	background-color: white;
	box-shadow: 0px 0px 20px #e6e6e6;
}

.search-icon:hover {
	color: #fff !important
}

.col-form-label {
	font-size: 18px;
	min-width: 130px;
}

.page_wrap {
	text-align: center;
	font-size: 0;
	padding-bottom: 50px;
}

.page_nation {
	display: inline-block;
}

.page_nation .none {
	display: none;
}

.page_nation a {
	display: block;
	margin: 0 3px;
	float: left;
	border: 1px solid #e6e6e6;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	font-size: 15px;
	color: #999999;
	text-decoration: none;
}

.page_nation .arrow {
	border: 1px solid #ccc;
}

.page_nation .pprev {
	background: #f8f8f8 url('../images/page_pprev.png') no-repeat center center;
	margin-left: 0;
}

.page_nation .prev {
	background: #f8f8f8 url('../images/page_prev.png') no-repeat center center;
	margin-right: 7px;
}

.page_nation .next {
	background: #f8f8f8 url('../images/page_next.png') no-repeat center center;
	margin-left: 7px;
}

.page_nation .nnext {
	background: #f8f8f8 url('../images/page_nnext.png') no-repeat center center;
	margin-right: 0;
}

.page_nation a.active {
	background-color: #5645ed;
	color: #fff;
	border: 1px solid #3529b1;
}

.fileBox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.fileBox label {
	display: inline-block;
	padding: 5px 10px;
	color: #999;
	background-color: #fdfdfd;
	font-size: 14px;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-radius: 5px;
}

/* named upload */
.fileBox .upload-name {
	display: inline-block;
	width: 70%;
	height: 35px;
	font-size: 13px;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-radius: 5px;

}
