table {
	text-align: center;
}

.main-content {
	width: 500px;
	height: 250px;
	min-width: 500px;
	min-height: 250px;
	background: rosybrown;
	border: white 1px solid;
}

.sub-content {
	width: 250px;
	height: 250px;
	min-width: 250px;
	min-height: 250px;
	border: white 1px solid;
}

.bd-sidebar {
	position: sticky;
	height: 100vh;
	min-width: 320px;
	max-width: 320px;
	color: white;
	text-align: center;
	/*opacity: 0.95;*/
	background-color: rgba(27, 26, 37, 0.95);
}

#nav li a {
	display: block;
	padding: 13px 40px;
	text-decoration: none;
	color: white;
	text-align: left;
}

#nav li a:hover {
	font-weight: bolder;
	color: #5645ED;
}

#nav li ul {
	display: none;
}

ul, li {
	list-style-type: none;
	padding-left: 0px;
}

.main-menu {
	border-bottom: 1px solid #aaaaaa;
}

.sub-menu {
	padding-left: 30px;
	border-bottom: none;
}

.main-menu a:hover, .sub-menu:hover {
	background: #1b1a25;
}

.reservation-card {
	padding: 5px;
	background: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 100px;
	color: black;
	font-size: 15px;
	display: table;
	width: inherit;
}

.footer {
	width: 100%;
	font-size: 13px;
	text-align: left;
	color: #aaaaaa;
	position: absolute;
	bottom: 0px;
	background: #1b1a25;
}

.slick-prev:before, .slick-next:before {
	font-size: 40px;
	line-height: 1;
	color: gray;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
	content: "‹";
}

[dir="rtl"] .slick-prev:before {
	content: "›";
}

[dir="rtl"] .slick-next {
	left: -10px;
	top: 70px;
	right: auto;
}

.slick-next:before {
	content: "›";
}

[dir="rtl"] .slick-next:before {
	content: "‹";
}
