@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
	width: 100%;
	height: 100vh;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
}

a:link {
	text-decoration: none;
	cursor: pointer;
}

.btn-purple-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: #3529b1;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

.btn-light-purple-square {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	background: #5849ea;
	padding: 0.8rem 2.5rem;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
}

.btn-save-square {
	cursor: pointer;
	display: inline-block;
	background: #383838;
	padding: 0.6rem 0;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
}

.btn-cancel-square {
	cursor: default;
	display: inline-block;
	background: white;
	padding: 0.6rem 2.3rem;
	text-align: center;
	color: #5849ea;
	font-size: 1.6rem;
	border: 1px solid #5849ea;
	border-radius: 0.5rem;
	text-decoration: none;
}

@-webkit-keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}

@keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}

.btn-save-square:hover,
.btn-purple-square:hover,
.btn-light-purple-square:hover,
.btn-delete-square:hover {
	color: white;
	opacity: 0.8;
}

.search-input {
	border: 1px solid black;
	height: 35px;
	width: 21rem;
	border-radius: 0;
}

.search-btn {
	background: black;
	width: 35px;
	height: 35px;
	border: 1px solid black;
	text-align: center;
	line-height: 30px;
}
