@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
	width: 100%;
	height: 100vh;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
}

a:link {
	text-decoration: none;
	cursor: pointer;
}

.btn-purple-square {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	background: #3529b1;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

.btn-light-purple-square {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	background: #5849ea;
	padding: 0.8rem 2.5rem;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
}

.btn-save-square {
	cursor: pointer;
	display: inline-block;
	background: #383838;
	padding: 0.6rem 0;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
}

.btn-cancel-square {
	cursor: default;
	display: inline-block;
	background: white;
	padding: 0.6rem 2.3rem;
	text-align: center;
	color: #5849ea;
	font-size: 1.6rem;
	border: 1px solid #5849ea;
	border-radius: 0.5rem;
	text-decoration: none;
}

@-webkit-keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}

@keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}

.btn-save-square:hover,
.btn-purple-square:hover,
.btn-light-purple-square:hover,
.btn-delete-square:hover {
	color: white;
	opacity: 0.8;
}

.search-input {
	border: 1px solid #464646;
	height: 35px;
	width: 21rem;
	padding: 0.5rem;
	border-radius: 0;
}

.search-btn {
	cursor: pointer;
	background: #464646;
	width: 35px;
	height: 35px;
	border: 1px solid #464646;
	text-align: center;
	line-height: 30px;
}

.search-btn:hover {
	opacity: 0.95;
}


.page_wrap {
	text-align:center;
	font-size:0;
}
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:15px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	background:#f8f8f8 url('../images/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url('../images/page_prev.png') no-repeat center center;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8 url('../images/page_next.png') no-repeat center center;
	margin-left:7px;
}
.page_nation .nnext {
	background:#f8f8f8 url('../images/page_nnext.png') no-repeat center center;
	margin-right:0;
}
.page_nation a.active {
	background-color:#5645ed;
	color:#fff;
	border:1px solid #3529b1;
}
