html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
}

.container {
	width: 100%;
	max-width: none;
}

.top-menu {
	text-align: center;
	height: 30rem;
}

.top-menu .title {
	font-size: 3.8rem;
	font-weight: 400;
}

.line {
	min-width: inherit;
	height: 3.5rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.wrap {
	display: flex;
	justify-content: center;
}

.inner {
	align-self: center;
	padding: 2rem;
}

.sub-title {
	margin: 0 auto;
	font-weight: bolder;
	font-size: 3rem;
}

.title-menu, .title-menu-select {
	width: 30rem;
	height: 4.5rem;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	line-height: 4.5rem;
	cursor: pointer;
	align-self: flex-end;
}

.title-menu:hover, .title-menu-select {
	background: #5645ED;
}

.line-content {
	height: 100%;
	width: 89%;
	text-align: right;
	font-size: 1.4rem;
	font-weight: 200;
}

.line-content span, .line-content img {
	vertical-align: middle;
	line-height: 3.5rem;
	padding: 0 1rem;
}

.content-view {
	text-align: center;
	color: black;
	width: 120rem;
	padding: 6rem 0;
}

input[type="text"], input[type="email"], input[type="password"] {
	width: 100%;
	border: 1px solid #d5d5d5;
}

@media only screen and (max-width: 1700px) {
	html {
		font-size: 8px;
	}

	.logo {
		content: url(../images/s_dual_logo_b.png);
	}
}

@media only screen and (max-device-width: 480px) {
	html {
		font-size: 7px;
	}
}
