table {
	width: 100%;
	text-align: center;
	word-break: break-all;
	margin: auto;
	border-collapse: collapse;
	line-height: 30px;
	border-bottom: #E6E6E6 1px solid;
}

th, tr, td {
	margin: 0 auto;
	text-align:center;
	vertical-align: middle !important;
}

th {
	width: 130px;
	background: #E6E6E6;
	color: #444444;
}

tr {
	color: #444;
}

td {
	width: fit-content;
	border: 1px;
	solid: #efefef;
	font-size: 15px;
}
