[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

a {
	text-decoration: none;
}

.content {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.navbar {
	background: white;
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid #eaeaea;
}

/*Mobile Menu*/
.mobile {
	color: white;
	float: left;
	width: 30px;
	height: 36px;
	margin-top: 0px;
	margin-left: 0;
}

#nav-toggle {
	width: 30px;
	height: 25px;
	margin-left: 15px;
	top: 20px;
	float: left;
	position: absolute;
	display: block;
	padding-top: 20px;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
#nav-toggle span {
	cursor: pointer;
	border-radius: 1px;
	height: 2px;
	width: 24px;
	background: whitesmoke;
	position: absolute;
	display: block;
	opacity: 1;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
#nav-toggle span:nth-child(1) {
	top: 1px;
}
#nav-toggle span:nth-child(2),
#nav-toggle span:nth-child(3) {
	top: 9px;
}
#nav-toggle span:nth-child(4) {
	top: 17px;
}
#nav-toggle.active span:nth-child(1) {
	top: 9px;
	opacity: 0;
	height: 0;
}
#nav-toggle.active span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#nav-toggle.active span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#nav-toggle.active span:nth-child(4) {
	top: 10px;
	opacity: 0;
	height: 0;
}

#mobile-nav-menu {
	float: left;
	width: 270px;
	background: #fafafa;
	height: calc(100% - 60px);
	margin-top: 60px;
	padding: 0;
	position: absolute;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	overflow-y: scroll;
	text-align: center;
}

.ng-hide-remove {
	-webkit-animation: 0.5s slideIn ease;
	-moz-animation: 0.5s slideIn ease;
	animation: 0.5s slideIn ease;
}

.ng-hide-add {
	-webkit-animation: 0.5s slideOut ease;
	-moz-animation: 0.5s slideOut ease;
	animation: 0.5s slideOut ease;
	display: block !important;
}

@keyframes slideIn {
	0% {
		left: -270px;
	}
	100% {
		left: 0px;
	}
}
@keyframes slideOut {
	0% {
		left: 0px;
	}
	100% {
		left: -270px;
	}
}

/*이름*/
#nameView {
	font-size: 2rem;
	font-weight: 500;
}

/*예약현황*/
.reservation-card-content {
	padding: 0.3rem;
	background: white;
	font-size: 1.5rem;
	height: 10rem;
	color: black;
	display: table;
	width: inherit;
}

.slick-prev:before, .slick-next:before {
	font-size: 4rem;
	line-height: 1;
	color: gray;
	opacity: 0.8;
}

.slick-prev:before {
	content: "‹";
}

.slick-next:before {
	content: "›";
}

/*내정보관리*/
.my-info-box {
	padding: 0.5rem 0;
	border: #c4c4c4 solid 1px;
	font-size: 1.3rem;
	display: flex;
}

.my-info-box a {
	color: black;
}

/*사이드 메뉴*/
ul, li {
	list-style-type: none;
	padding-left: 0px;
}

#nav {
	border-top: 1px solid #c4c4c4;
}

#nav li a {
	display: block;
	padding: 1.1rem 3rem;
	text-decoration: none;
	color: black;
	text-align: left;
}

#nav li a:hover, #nav li a:active {
	color: #5645ED;
}

#nav li ul {
	display: none;
}

.main-menu {
	border-bottom: 1px solid #c4c4c4;
}

.sub-menu {
	border-bottom: none;
	color: #5645ED;
	padding-left: 2rem;
}

.main-menu a:hover, .sub-menu:hover {
	/*background-color: rgba(255, 255, 255, 0.2);*/
	background-color: whitesmoke;
}


/*푸터 : 회사정보*/
.footer {
	width: 100%;
	font-size: 1.3rem;
	text-align: left;
	color: #808080;
	float: bottom;
}

.footer-top {
	display: flex;
	border-top: 1px solid #c4c4c4;
	padding: 0.8rem 2.7rem;
}

.footer-middle {
	border-top: 1px solid #c4c4c4;
	padding: 1.5rem 2.7rem 2rem;
	font-size: 1.2rem;
}
