/* top navigation */

.navbar {
	height: 60px;
	background-color: white;
	overflow: hidden;
	padding: 0 20px;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	position: fixed;
}

.navbar a {
	float: left;
	display: block;
	color: #404040;
	text-align: center;
	text-decoration: none;
	transition: .5s;
}

.navbar ul {
	list-style: none;
}

.navbar a:hover {
	background-color: #ccc;
	border-radius: 100%;
	color: #404040;
}

.navbar-nav {
	display: none;
}


/* side navigation */

#side-menu {
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #F9F9F9;
	padding-top: 30px;
	overflow-x: hidden;
	z-index: 1;
	transition: .5s;
	font-size: 1.9rem;
}

.side-nav a {
	text-decoration: none;
	color: #404040;
	display: block;
	transition: .3s;
}

.side-nav a:hover {
	color: #5645ED;
}

.side-nav .btn-close {
	position: absolute;
	top: 0;
	right: 10px;
	padding: 10px;
	font-size: 20px;
}

/*사이드 메뉴*/
ul, li {
	list-style-type: none;
	padding-left: 0;
}

#nav {
	margin: 40px 0;
	border-top: 1px solid #eaeaea;
}

#nav li a {
	display: block;
	padding: 1.1rem 4rem;
	text-decoration: none;
	color: #404040;
	text-align: left;
}

#nav li a:hover, #nav li a:active {
	color: #5645ED;
}

#nav li ul {
	display: none;
}

.main-menu {
	border-bottom: 1px solid #eaeaea;
}

.sub-menu {
	padding-left: 3rem;
	border-bottom: none;
	color: #5645ED;
}

.main-menu a:hover, .sub-menu:hover {
	background: #ececec;
}

.side-nav .dropdown-img {
	float: right;
	width: fit-content;
}

.dropdown-img img {
	width: 13px;
	transition: transform 0.3s;
}

.rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

@keyframes rotate_image {
	100% {
		transform: rotate(360deg);
	}
}

.my-info {
	font-size: 1.7rem;
	text-align: center;
	margin: 0 2rem;
	padding: 0 2rem;
	color: #404040;
}

/*로고*/
.logo {
	cursor: pointer;
	height: 40%;
	float: left;
	padding-left: 10px;
}

/*이름*/
#nameView {
	font-size: 2rem;
	font-weight: 500;
}

/*예약현황*/
.reservation {
	width: 100%;
	font-weight: 300;
	border-radius: 1rem;
}

.reservation-card-top {
	padding: 0.7rem;
	background: #5849ea;
	color: #f7f7f7;
	font-size: 1.6rem;
	font-weight: 400;
}

.reservation-card-content {
	background: white;
	font-size: 1.5rem;
	height: 10rem;
	color: #404040;
	display: table;
	width: inherit;
}

#carouselReservationControls {
	height: inherit;
	display: table-cell;
	vertical-align: middle;
	color: black;
}

.slick-prev:before, .slick-next:before {
	font-size: 4rem;
	color: gray;
	opacity: 0.8;
}

.slick-prev:before {
	content: "‹";
}

.slick-next:before {
	content: "›";
}

#main {
	transition: margin-right .5s;
	padding: 0;
}

