.container {
	padding: 20px;
	min-height: 50vh;
	font-size: 1.4rem;
	color: black;
}

.row {
	width: 100%;
	text-align: center;
}

.sub-title-height {
	height: 260px;
}

.sub-title {
	width: 100%;
	height: 220px;
	padding: 90px 0;
	color: white;
	font-weight: 300;
	font-size: 1.5rem;
}

.sub-title-name {
	font-size: 3.2rem;
	line-height: 5rem;
	width: 100%;
	font-weight: bolder;
}

table {
	width: 100%;
}


/* Drop Down Styles
================================ */
nav {
	width: 50%;
	text-align: left;
	font-size: 1.4rem;
}

nav .drop-down {
	width: 100%;
	list-style: none;
	height: fit-content;
	overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
	background-color: #2e2392;
	margin: 0 auto;
	padding: 0;
	-webkit-transition: height 0.3s;
	transition: height 0.3s;
}

nav .drop-down.closed {
	height: 42px;
}

nav .drop-down li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav .drop-down li a {
	display: block;
	color: #ecf0f1;
	text-decoration: none;
	padding: 10px 20px; /* Larger touch target area */
}

nav .drop-down li:first-child a:after {
	content: "\25BC";
	float: right;
	vertical-align: middle;
	font-size: 1rem;
	padding: 3px;
}

nav .drop-down li a:hover {
	background-color: #5645ED;
}
